<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>jiagong_xujixunlunyanimage.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,66},{84,56}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,3},{84,56}}</string>
                <key>sourceSize</key>
                <string>{90,62}</string>
            </dict>
            <key>jialing_xujixunlunyanimage.png</key>
            <dict>
                <key>frame</key>
                <string>{{143,181},{87,63}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,3},{87,63}}</string>
                <key>sourceSize</key>
                <string>{93,69}</string>
            </dict>
            <key>tx01_xujixunlunyanimage.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,549},{117,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,80}}</string>
                <key>sourceSize</key>
                <string>{117,80}</string>
            </dict>
            <key>tx02_xujixunlunyanimage.png</key>
            <dict>
                <key>frame</key>
                <string>{{348,348},{135,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{135,98}}</string>
                <key>sourceSize</key>
                <string>{135,98}</string>
            </dict>
            <key>tx03_xujixunlunyanimage.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,181},{139,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{139,101}}</string>
                <key>sourceSize</key>
                <string>{139,101}</string>
            </dict>
            <key>tx04_xujixunlunyanimage.png</key>
            <dict>
                <key>frame</key>
                <string>{{348,241},{137,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{137,105}}</string>
                <key>sourceSize</key>
                <string>{137,105}</string>
            </dict>
            <key>tx05_xujixunlunyanimage.png</key>
            <dict>
                <key>frame</key>
                <string>{{369,122},{139,117}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{139,117}}</string>
                <key>sourceSize</key>
                <string>{139,117}</string>
            </dict>
            <key>tx06_xujixunlunyanimage.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,284},{134,121}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,121}}</string>
                <key>sourceSize</key>
                <string>{134,121}</string>
            </dict>
            <key>tx07_xujixunlunyanimage.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,354},{134,119}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,119}}</string>
                <key>sourceSize</key>
                <string>{134,119}</string>
            </dict>
            <key>tx08_xujixunlunyanimage.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,448},{128,117}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,117}}</string>
                <key>sourceSize</key>
                <string>{128,117}</string>
            </dict>
            <key>tx09_xujixunlunyanimage.png</key>
            <dict>
                <key>frame</key>
                <string>{{133,475},{125,127}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,127}}</string>
                <key>sourceSize</key>
                <string>{125,127}</string>
            </dict>
            <key>tx10_xujixunlunyanimage.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,407},{120,129}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,129}}</string>
                <key>sourceSize</key>
                <string>{120,129}</string>
            </dict>
            <key>tx11_xujixunlunyanimage.png</key>
            <dict>
                <key>frame</key>
                <string>{{369,2},{118,139}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,139}}</string>
                <key>sourceSize</key>
                <string>{118,139}</string>
            </dict>
            <key>tx12_xujixunlunyanimage.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,238},{114,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,138}}</string>
                <key>sourceSize</key>
                <string>{114,138}</string>
            </dict>
            <key>tx13_xujixunlunyanimage.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,125},{111,143}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{111,143}}</string>
                <key>sourceSize</key>
                <string>{111,143}</string>
            </dict>
            <key>tx14_xujixunlunyanimage.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,66},{113,148}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,148}}</string>
                <key>sourceSize</key>
                <string>{113,148}</string>
            </dict>
            <key>tx15_xujixunlunyanimage.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,2},{121,155}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{121,155}}</string>
                <key>sourceSize</key>
                <string>{121,155}</string>
            </dict>
            <key>tx16_xujixunlunyanimage.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,529},{114,121}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,121}}</string>
                <key>sourceSize</key>
                <string>{114,121}</string>
            </dict>
            <key>tx17_xujixunlunyanimage.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,448},{99,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,105}}</string>
                <key>sourceSize</key>
                <string>{99,105}</string>
            </dict>
            <key>zi_xujixunlunyanimage.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{208,62}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{208,62}}</string>
                <key>sourceSize</key>
                <string>{214,68}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>xujixunlunyanimage.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:758eb4114bf676fae85ae704731613e0:1/1$</string>
            <key>textureFileName</key>
            <string>xujixunlunyanimage.png</string>
        </dict>
    </dict>
</plist>
